/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "variables";

html {
  height: 100%;
}

body {
  font-family: sans-serif;
  background:  url(https://media.giphy.com/media/p6Z99AYhI5RQs/giphy.gif) no-repeat center center fixed;
  background-size: cover;
  color: $grey;
  font-size: 12px;
  height: 100%;
}

header {
  display: flex;
  justify-content: center;
  background-color: red;

  img {
    width: 43px;
    height: 43px;
    background-color: white;
  }
}

.ballz {
  background-color: red;
  width: 150px;
  height: 50px;
}

nav {
  width: 300px;
  height: 100%;
  background-color: white;
  padding: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 50px;
  border: 10px solid black;


  ul {
    padding: 0;
    // display: flex;
    // justify-content: flex-end;
    flex-direction: column;
    list-style: none;
    // height: calc(100% - 20px);
    width: 100%;
    height: 100%;
    // overflow: scroll;
    // overflow-x: scroll;
    overflow-y: scroll;


    li {
      a {
        background-color: white;
        border-radius: 4px;
        color: $grey;
        font-weight: 700;
        display: flex;
        justify-content: space-between;
        padding: 15px;
        text-decoration: none;
        text-transform: uppercase;
        cursor: pointer;
        z-index: 1;
        height: 43px;
        position: relative;
        -webkit-transition: box-shadow 0.1s ease-out, background-color 0.1s ease-in-out;
        -moz-transition: box-shadow 0.1s ease-out, background-color 0.1s ease-in-out;
        -ms-transition: box-shadow 0.1s ease-out, background-color 0.1s ease-in-out;
        -o-transition: box-shadow 0.1s ease-out, background-color 0.1s ease-in-out;
        transition: box-shadow 0.1s ease-out, background-color 0.1s ease-in-out;

        &:hover {
          color: $light-grey;
          -webkit-box-shadow: 0px 2px 2px 1px rgba(0,0,0,0.75);
          -moz-box-shadow: 0px 2px 2px 1px rgba(0,0,0,0.75);
          box-shadow: 0px 2px 2px 1px rgba(0,0,0,0.75);
        }

        &:active {
          background-color: $light-grey;
          color: white;
          -webkit-box-shadow: none;
          -moz-box-shadow: none;
          box-shadow: none;
        }
      }
    }
  }
}

#root {
  height: 100%;
  padding-top: 20px;
}

h1{
  padding: 10px;
  text-align: center;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
  text-align: center;
  color: $black;
}

li {
  font-size: 28px;
  text-align: center;
  font-weight: 400;
}

.parent{
  margin: 40px;
  display: flex;
  justify-content: flex-start;
  height: 100%;
  align-content: center center;
}

.detail {
  overflow-y: scroll;
  color: white;
  background: gray;
  // margin: 10px left;
  height: auto;
  // width: 50%;
  flex: 1;
  border: 10px solid black;
  list-style: none;
}

.detail ul {
  display: flex;
  height: auto;
  flex-direction: column;
  list-style: none;
  justify-content: center;
  align-items: center;
  padding-left: 0;
}

.picture{
  width: 300px;
  height: 300px;
}

.detail li {
  // padding-bottom: 10px;
  // font-size: 12px;
}

#pokeItems {
  display: flex;
  flex-direction: row;
  list-style: none;

  padding-left: 0;
  align-content: center;
  justify-content: space-around;

  li {
    width: 80px;
    height: 80px;

  }
}

.info {
  height: 60%;
}

.poke-name {
  font-size: 18px;
  font-family: sans-serif;
}
//
// .poke-item {
//   background: rgba(255,255,255,0.5);
//   margin: 10px auto;
//   // list-style: none;
//   width: 30%;
//   height: auto;
// }
//
// .poke-pic {
//   margin: 0 auto;
//   width: 90%;
//   height: auto;
// }
